.filter{
    text-align: center;
    height: 8vh;
}
input{
    padding: 5px;
    width: 50%;
    border: none;
    outline: none;
    background-color: black;
    color: aqua;
    font-size: 20px;
    border-radius: 20px;
}
input:focus-within{
    background-color: white;
    color: coral;
}
#span{
    margin-right: 10px;
    font-size: 20px;
    padding: 5px;
    background-color: coral;
    border-radius: 20px;
    cursor: pointer;
    width: auto;
    color: whitesmoke;
    transform: scale(.8);
    transition: all 1s ease-in-out;
}
#span:hover{
    background-color: black;
    color: whitesmoke;
}