*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Navbar {
    position: fixed;
    background-color: gray;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
  }
 .Navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 10px;
  }
  li{
    padding: 10px;
    cursor: pointer;
    list-style: none;
    font-size: 20px;
  }
  #link{
    text-decoration: none;
    color: white;
  }
  #link:hover{
    color: gold;
    font-weight: bolder;
    transition: all 1s linear;
  }
  